/.idea
/.vscode
/tamu/1S23/ENGR_216/Labs/Lab 3/videos
/tamu/1S23/ENGR_216/Labs/Lab 4/videos
/tamu/1S23/PHYS_206/William H. Bassichis - Don't Panic_ A Guide to Introductory Physics for Students of Science and Engineering_ Mechanics (Volume 1 (Mechanics))-OR Publishing (2005).pdf
/tamu/2F23/CSCE_120/honors_artifacts/2/KevinLei-video-ObjectOrientedProgramming.mov
/tamu/2F23/MATH_304/Linear Algebra with Application - Steve Leon.pdf
/tamu/2F23/MATH_304/Steve Leon_ Lisette de Pillis - Linear Algebra with Applications, 10_e-Pearson (2019).epub
