/.obsidian
tamu/1 spring 2023/ENGR 216/Labs/Lab 3/videos
tamu/1 spring 2023/ENGR 216/Labs/Lab 4/videos
tamu/1 spring 2023/PHYS 206/William H. Bassichis - Don't Panic_ A Guide to Introductory Physics for Students of Science and Engineering_ Mechanics (Volume 1 (Mechanics))-OR Publishing (2005).pdf
tamu/2 fall 2023/MATH 304/Steve Leon_ Lisette de Pillis - Linear Algebra with Applications, 10_e-Pearson (2019).epub
tamu/2 fall 2023/MATH 304/Linear Algebra with Application - Steve Leon.pdf
