/.obsidian
/.idea
tamu/Spring 2023/ENGR 216/Labs/Lab 3/videos
tamu/Spring 2023/ENGR 216/Labs/Lab 4/videos
tamu/Spring 2023/PHYS 206/William H. Bassichis - Don't Panic_ A Guide to Introductory Physics for Students of Science and Engineering_ Mechanics (Volume 1 (Mechanics))-OR Publishing (2005).pdf
